@media screen and (max-width: 1100px) {
    #side-bar:not(:hover) *,
    #side-bar address,
    #side-bar [rel=license]
    { display: none; }
    #side-bar {
        background: white;
        position: fixed;
        text-align: left;
        left: 10px;
        top: 10px;
        border: 1px solid #bbb;
        border-radius: 3px;
        width: auto;
        z-index:999;
    }
    #side-bar:before {
        display: block;
        content: " ";
        background: #fff url(/images/site/menu.png) no-repeat 6px 6px;
        width: 25px;
        height: 25px;
    }
    #side-bar:hover li {
        padding-left: 5px;
        padding-right: 5px;
    }

    #side-bar .currentpage a { background: none; }
    #side-bar .currentpage {
        background-color: #c44;
        color: white;
    }
    #side-bar .currentpage .date { color: white; }

    #content { max-width: 100%; }
    img { max-width: 100%; }

    .gallery {
        width: 100%; height: auto;
    }
}
