<!DOCTYPE html>
<!-- Generate using: git@github.com:nishantjr/bloginator -->
<html>
    <head>
        <title>__TITLE__</title>
        <link rel='stylesheet' href='style.css' />
        <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
        <meta property="fb:admins" content="509717926" />
    </head>
<body data-page='__LINK__'>
    <div id='content'>
        __CONTENT__
        <div class="fb-comments" data-href="nishantjr.github.com/__LINK__"></div>
    </div>
        <ul id='side-bar'>
            __INDEX__
        </ul>
        <script type='text/javascript'>
        var anchors = document.getElementsByTagName("A");
        for (var i = 0; i<anchors.length; i++)
        if (anchors[i].href.indexOf(document.body.getAttribute("data-page")) != -1)
        anchors[i].className += " currentpage ";
        </script>
</body>
</html>
