/* Reset */
* {
    padding: 0;
    margin: 0;
}
#content p { margin:  1em 0 1em 0 }
#content ul, ol { margin-left: 2em; }
#content img { margin: 1em; }

/* Layout */

#side-bar, #content {
    display: inline-block;
    vertical-align: top;
}

body {
    margin-top: 300px;
    position: relative;
}

#content {
    max-width: 640px;
}
#cover-pic {
    position: absolute;
    top: -375px;
    z-index: -1;
}

#side-bar {
    max-width: 200px;
    text-align: right;
}

/* right-align tagline */
header { position: relative; }
#tag-line {
    position: absolute;
    right: 0px; bottom: 0px;
}

/* Styling */

#title {
    font-size: 1.4em;
    color: #c44;
    display: inline-block;
}

#tag-line {
    font-style: italic;
}

#content img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 { font-size: 28px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }
#content { font-size: 18px; }

header {
    border-bottom: 1px solid #bbb;
}
#side-bar:before { content: "newest" }
#side-bar:after  { content: "oldest" }

#side-bar:after,#side-bar:before  {
    font-variant: small-caps;
    color: #999;
    font-size: 0.8em;
}

h2 {
    color: #444;
    margin-top: 2em;
    text-transform: uppercase;
}

#content {
    background-color: rgba(256, 256, 256, 0.7);
    padding: 1em;
    padding-top: 0px;
}

#side-bar a:link {
    color: #c44;
    padding: 0.2em;
    display: block-inline;
}
#side-bar a:visited { color: #944 }
#side-bar .currentpage a {
    background-color: #c44;
    color: white;
}
#side-bar li a:hover {
    text-decoration: underline;
}
#side-bar li {
    margin: 0.2em 0 0.2em 0;
    list-style-type: none;
}
a:link { text-decoration: none; }
.date {
    font-size: 0.6em;
    color: #777;
}
