* {
    padding: 0;
    margin: 0;
}
p { margin:  1em 0 1em 0 }
ul, ol { margin-left: 2em; }
img { margin: 1em; }

#title {
    font-size: 1.4em;
    color: #c44;
    border-bottom: 1px solid #bbb;
}
#content {
    top: 300px;
    padding: 1em;
    max-width: 40em;
    margin: auto;
    position: relative;
    background-color: rgba(256, 256, 256, 0.7);
}
a:link { text-decoration: none; }
#content img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#cover-pic {
    position: absolute;
    top: -375px;
    left: -100px;
    z-index: -1;
}

#side-bar {
    position: fixed;
    bottom: 3em;
    left: 0; right: 0;
    display: block;
    margin: auto;
    padding-right: 55em; /*Content width + sidebar witdth + 4 */
    width: 12em;

    text-align: right;
}
#side-bar:before { content: "newest" }
#side-bar:after  { content: "oldest" }

#side-bar:after,#side-bar:before  { 
    font-variant: small-caps;
    color: #999;
    font-size: 0.8em;
}

#side-bar a:link {
    color: #c44; 
    padding: 0.2em;
    display: block-inline;
}
#side-bar a:visited { color: #944 }
#side-bar a.currentpage { 
    background-color: #c44;
    color: white;
}
#side-bar li a:hover {
    text-decoration: underline;
}
#side-bar li {
    margin: 0.2em 0 0.2em 0;
    list-style-type: none;
}
.date {
    font-size: 0.6em;
    color: #777;
}
