{% assign image_width='600' %}
{% assign image_height='470' %}
<div class='gallery-container'>
<div class='gallery-header'>{{include.title}}</div>
<div id='gallery-{{include.gallery | escape}}' class='gallery'>
{% for images in page.gallery %}
{% if images[0] == include.gallery %}

{% for image in images[1] %}
<figure class='gallery-item {% if forloop.first %}gallery-item-current{%endif%}'>
<figcaption><strong>{{image.title}}</strong> {{image.details}}</figcaption>
<a href='{{page.gallery_prefix}}/{{images[0]}}/{{image.src}}'>
<img title='{{image.title | escape}}'
     alt='{{image.title | escape}}'
     height='{{image_height}}'
     width='{{image_width}}'
{% capture url %}{{page.gallery_prefix}}/{{images[0]}}/{{image_width}}x{{image_height}}/{{image.src}}{% endcapture %}
{% if forloop.first == true %}
     src='{{url}}'
{% else %}
     data-source='{{url}}'
{% endif %}
     />
</a>
</figure>
{% endfor %}

<ol class='gallery-nav'>
{% for image in images[1] %}
<li class='{% if forloop.first %}gallery-nav-current{%endif%}' >
    <a href='javascript:on_gallery_nav("gallery-{{include.gallery}}", {{forloop.index}})'>
    {{forloop.index}}</a></li>
{% endfor %}
</ol>

{% endif  %}
{% endfor %}
</div>
</div>
