<div class='gallery-container'>
<div class='gallery-header'>{{include.title}}</div>
<div id='gallery-{{include.gallery | escape}}' class='gallery'>
{% for images in page.gallery %}

{% if images[0] == include.gallery %}
{% for image in images[1] %}
<figure class='gallery-item'>
<figcaption><strong>{{image.title}}</strong> {{image.details}}</figcaption>
<a href='{{page.gallery_prefix}}/{{images[0]}}/{{image.src}}'>
<img title='{{image.title | escape}}'
     alt='{{image.title | escape}}'
     data-original='{{page.gallery_prefix}}/{{images[0]}}/800x533/{{image.src}}' />
</a>
</figure>
{% endfor %}
{% endif  %}
{% endfor %}
</div>
</div>
