.gallery            { max-width: 100%; }
.gallery img        { display: block; margin: auto }
.gallery figcaption { color: #666 }
.gallery figure     { margin-top: 1ex }
.gallery-caption    { margin-top: 1ex;
                      border-top: 1px dashed;
                    }

