.gallery-container {
    background-color: #222;
}

.gallery {
    max-width: 100%;
}

.gallery-header {
    color: white;
    padding: 5px;
}

.gallery-container {
  margin-bottom: 20px;
  position: relative;
  color 
}

.gallery-item {
    border-bottom: none;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
.gallery-item-current {
    display: table;
}
.gallery-item figcaption {
    display: table-caption;
    caption-side: bottom;
    font-size: 80%;
    min-height: 20px;
    color: #eee;
    padding: 4px;
    max-width: 90vw;
    overflow: hidden;
}

.gallery-nav {
    margin-left: 0px !important;
    text-align: center;
}
.gallery-nav li {
    width: auto;
    padding: 5px;
    height: auto;
    display: inline-block;
}
.gallery-nav li a {
    color: #eee;
}
.gallery-nav li:hover a {
    text-shadow: 0px 0px 6px #000;
}

.gallery-nav-current {
    background-color: #555;
}

#content img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
}

#content .gallery-item img {
    display: block;
    margin-bottom: 0;
}

.gallery_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background-color: black;
  margin-top: -45px;
  font-size: 50px;
  text-align: center;
  color: #ccc;
}

.gallery_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}
