/* Reset */
* {
    padding: 0;
    margin: 0;
}
#content p { margin:  1em 0 1em 0 }
#content ul, ol { margin-left: 2em; }

/* Layout */

#side-bar, #content {
    display: inline-block;
    vertical-align: top;
}

body {
    padding-top: 300px;
    margin: auto;
    max-width: 1000px;
    background-repeat: no-repeat;
    background-position: center top;
}

#content {
    max-width: 600px;
}

#side-bar {
    width: 300px;
    text-align: right;
}

footer {
    text-align: center;
    padding: 4px;
    border-top: 1px dashed #aaa;
}


/* right-align tagline */
header { position: relative; }
#tag-line {
    position: absolute;
    right: 0px; bottom: 0px;
}

/* Styling */

#title {
    font-size: 1.4em;
    color: #c44;
    display: inline-block;
}

#tag-line {
    font-style: italic;
}

h1 { font-size: 28px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }

header {
    border-bottom: 1px solid #bbb;
}

h2 {
    color: #444;
    margin-top: 2em;
    text-transform: uppercase;
}

#content {
    background-color: rgba(256, 256, 256, 0.7);
    padding-top: 0px;
    font-family: serif;
}

#content > *
{ padding-left: 0.5em; padding-right: 0.5em; }

#content > .gallery-container
{ padding: 0em; }

.post-narrative {
    font-style: oblique;
    font-size: 80%;
}

.footnotes {
    color: #222;
    font-family: sans-serif;
    font-size: 80%;
}

#side-bar { margin-top: 85px; }

#side-bar a:link {
    color: #c44;
    padding: 0.2em;
    display: block-inline;
}
#side-bar a:visited { color: #944 }
#side-bar .currentpage a {
    background-color: #c44;
    color: white;
}
#side-bar li a:hover {
    text-decoration: underline;
}
#side-bar li {
    margin: 0.2em 0 0.2em 0;
    list-style-type: none;
}
a:link { text-decoration: none; }
#side-bar .date {
    font-size: 0.6em;
    color: #777;
}

#side-bar address {
    margin-top: 5px; margin-bottom: 5px;
    padding-top: 5px; padding-bottom: 5px;
}
#side-bar > * {
    display: block;
}

#side-bar > :not(:last-child) {
    border-bottom: 1px dashed #aaa;
}

#side-bar .home {
    font-weight: bold;
    text-transform: uppercase;
}

.altitude {
    color: #444;
    font-size: 90%;
}
