/* Styling */
body {
    background-repeat: no-repeat;
    background-position: center -100px;
    padding-top: 300px;
}


#title {
    font-size: 1.4em;
    color: #c44;
    display: inline-block;
}

#tag-line {
    font-style: italic;
}

h1 { font-size: 28px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }

header {
    border-bottom: 1px solid #bbb;
}


/* right-align tagline */
header { position: relative; }
#tag-line {
    position: absolute;
    right: 0px; bottom: 0px;
}

h2 {
    color: #444;
    margin-top: 2em;
    text-transform: uppercase;
}

#content {
    background-color: rgba(256, 256, 256, 0.7);
    padding: 1em;
    padding-top: 0px;
}

.post-narrative {
    font-style: oblique;
    font-size: 80%;
}

.footnotes {
    color: #222;
    font-family: sans-serif;
    font-size: 80%;
}


#side-bar a:link {
    color: #c44;
    padding: 0.2em;
    display: block-inline;
}
#side-bar a:visited { color: #944 }
#side-bar .currentpage a {
    background-color: #c44;
    color: white;
}
#side-bar ul { margin-left: 4px; }
#side-bar li a:hover {
    text-decoration: underline;
}
#side-bar li {
    margin: 0.2em 0 0.2em 0;
    list-style-type: none;
}
a:link { text-decoration: none; }
#side-bar .date {
    font-size: 0.6em;
    color: #777;
}

#side-bar address {
    margin-top: 5px; margin-bottom: 5px;
    padding-top: 5px; padding-bottom: 5px;
}
#side-bar > * {
    display: block;
}

#side-bar > :not(:last-child) {
    border-bottom: 1px dashed #aaa;
}
#side-bar .home {
    font-weight: bold;
    text-transform: uppercase;
}

.altitude {
    color: #444;
    font-size: 90%;
}
