<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8" />
    <title>$title$</title>
    <link rel="alternate" type="application/atom+xml" href="/atom.xml">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/css/reset.css' />
    <link rel='stylesheet' href='/css/layout.css' />
    <link rel='stylesheet' href='/css/site.css' />
    <link rel='stylesheet' href='/css/gallery.css' />
    <link rel='stylesheet' href='/css/mobile.css' />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        body { background-image: url('/covers/$cover$.jpg'); }
    </style>
</head>
<body>
<nav id='side-bar'>
<ul class='nav'>
$for(posts)$
    <li $if(current)$ class='currentpage' $endif$ >
        <span class='date'>$date$</span>
        <a href='$url$'>$title$</a>
    </li>
$endfor$
</ul>
<address>
Nishant Rodrigues
<a rel='me' href='mailto:nishantjr@gmail.com'><i class="fa fa-envelope"></i></a>
<a rel='me' href='http://github.com/nishantjr'><i class="fa fa-github"></i></a>
<a rel='me' href='http://stackoverflow.com/users/1278288/nishantjr'><i class="fa fa-stack-overflow"></i></a>
<a rel='me' href='http://instagram.com/nishantjr'><i class="fa fa-instagram"></i></a>
</address>
<a href='/' class='smallcaps'>About this website</a>
<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" class='smallcaps'> License </a>
</nav>

<article id='content'>
<header>
    <h1 id='title'> $title$ </h1>
    $if(tag-line)$ <span id='tag-line'> $tag-line$ </span> $endif$
</header>
$body$
</article>

</body>
</html>
